@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
:root {
  /* texts */
  --dark-desat-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  /* gradients */
  --gradient: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  /* underline */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base Styling */
/* body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  background: var(--gradient);
  height: 100vh;
  min-height: 100%;
  color: var(--very-dark-grayish-blue);
} */

/* h1 {
  text-transform: uppercase;
  font-size: 32px;
  color: var(--dark-desat-blue);
  margin-bottom: 10px;
} */

/* Utilities */
/* .container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
} */

.mobile-images {
  display: none;
}

.arrows {
  color: var(--soft-blue);
}

.bold {
  font-weight: bold;
}

/* Card */
/* .card {
  display: flex;
  background: #fefefe;
  border-radius: 10px; 
}  */

.img-container2 {
  overflow: hidden;
  flex: 1;
  position: relative;
}

/* Images */
#box-img {
  position: absolute;
  top: 100px;
  left: -120px;
  z-index: 100;
  width: 50%;
}

/* FAQ container */
.faq-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px;
}

.qa-container {
  border-bottom: 1px solid var(--light-grayish-blue);
  padding: 20px 0 20px 0;
}

.faq-h4
 {
  font-weight: 400;
  color: #2c5bbc;
  margin: 0px; 
  font-weight: bold;
  font-family: 'IBM Plex Sans'; 
  font-size: 2.8rem;}


.faq-p {
  font-family: 'IBM Plex Sans';
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.8rem;
  margin: 0px; }

.question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-box:hover {
  color: #2c5bbc;
  cursor: pointer;
}

.answer {
  padding: 20px 0 0;
  color: var(--dark-grayish-blue);
}

/* hide answer */
.answer {
  display: none;
}

.show-text .answer {
  display: block;
}

.up-arrow {
  display: none;
}

.show-text .up-arrow {
  display: inline;
}

.show-text .down-arrow {
  display: none;
}

