/*===========================
    Contact CSS 
===========================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


.ct-i {
  display: inline-block;
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

.ct-h4
 {
  font-family: 'IBM Plex Sans'; 
  font-weight: 400;
  color: #2c5bbc;
  font-size: 1.1rem;
  margin: 0px; }

.ct-p {
  font-family: 'Poppins' sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #6a7a8c;
  margin: 0px; }

.footer h4 {
  font-family: 'IBM Plex Sans' sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: #ffffff; 
  margin-bottom: 15px;}

.footer h6 {
  font-family: 'IBM Plex Sans' sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3rem;
  color: #ffffff; }

.footer p {
  margin-bottom:13px;
}
.footer a {
  font-family: 'Poppins' sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  color: #6a7a8c;}

.footer a:hover {
  color: #ffffff;}

.footer hr {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.98); 
  width:25%;}
  /* @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ct-p {
      font-size: 14px;
      line-height: 24px; } }
  @media (max-width: 767px) {
    .ct-p {
      font-size: 14px;
      line-height: 24px; } } */

.actu hr {
  text-align: center;
  border: 2px solid #2c5bbc; 
  width:5%;}
  
.actu h4 {
  font-weight: 400;
  color: #2c5bbc;
  margin: 0px; 
  font-weight: bold;
  font-family: 'IBM Plex Sans'; 
  font-size: 1.5rem;}

.ct-section {
  position: relative;
  z-index: 3; }
  .ct-section .ct-item-wrapper .ct-item {
    display: flex;
    border-bottom: 1px solid #F4EEFB;
    border-radius: 0px;
    background: #ffffff;
    margin-bottom: 30px;
    padding: 20px 30px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .ct-section .ct-item-wrapper .ct-item:hover {
      -webkit-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
      -moz-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
      box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45); }
      .ct-section .ct-item-wrapper .ct-item:hover .contact-icon {
        -webkit-box-shadow: 0px 0px 30px #2c5bbc;
        -moz-box-shadow: 0px 0px 30px #2c5bbc;
        box-shadow: 0px 0px 30px #2c5bbc }
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      .ct-section .ct-item-wrapper .ct-item {
        padding: 20px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .ct-section .ct-item-wrapper .ct-item {
        flex-direction: column; } }
    @media (max-width: 767px) {
      .ct-section .ct-item-wrapper .ct-item {
        flex-direction: column; } }
    .ct-section .ct-item-wrapper .ct-item .ct-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: linear-gradient(#2c5bbc 0%, #2e1e7a 100%);
      color: #fff;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
    .ct-section .ct-item-wrapper .ct-item .ct-content {
      margin-left: 25px; }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        .ct-section .ct-item-wrapper .ct-item .ct-content {
          margin-left: 20px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .ct-section .ct-item-wrapper .ct-item .ct-content {
          margin-left: 0px;
          margin-top: 20px; } }
      @media (max-width: 767px) {
        .ct-section .ct-item-wrapper .ct-item .ct-content {
          margin-left: 0px;
          margin-top: 20px; } }
      .ct-section .ct-item-wrapper .ct-item .ct-content h4 {
        font-size: 20px;
        color: #2c5bbc;
        margin-bottom: 10px; }

